           header img {
               width: 150px;
               height: 150px;
               border: solid 2px;
               border-radius: 50%;
               border: solid 3px;
               color: #90EE90
           }
           
           ul {
               display: flex;
               justify-content: space-between;
               list-style-type: none;
               align-items: center;
               padding: 16px;
           }
           
           a {
               color: white;
               text-decoration: none;
           }
           
           .center {
               text-align: center;
           }
           
           .container h1 {
               color: #228B22;
               text-align: center;
               padding: 16px;
           }
           
           h3 {
               color: #228B22;
               text-align: center;
           }
           
           footer img {
               width: 40px;
               height: 40px;
           }
           
           footer {
               display: flex;
               justify-content: center;
           }
           
           footer a {
               margin: 20px;
               text-align: center;
           }
           
           footer p {
               margin-top: 2px;
           }
           
           .cursos {
               display: flex;
           }
           
           .container {
               padding: 0px 50px;
               background-color: black;
               color: white;
               font-family: Arial, Helvetica, sans-serif;
               font-size: 22px;
               text-align: center;
               text-align: justify;
           }
           
           nav a:hover {
               color: #00FF00;
           }